CRS support in GeoJSON

At the time of the release of GeoDCAT-AP v1.0 (December 2015), GeoJSON provided support to arbitrary coordinate reference systems ([see the original specification](http://geojson.org/geojson-spec#coordinate-reference-system-objects)).

In the new specification ([RFC 7946](https://tools.ietf.org/html/rfc7946)), standardised in the framework of IETF, this is no longer the case, and the only supported coordinate reference system is CRS84 (i.e., WGS84 lon/lat) - see RFC 7946, [Section 4](https://tools.ietf.org/html/rfc7946#section-4).

Because of this, the use of GeoJSON in GeoDCAT-AP might need to be reconsidered - at least by including a caveat, and some guidance on when and how to use it.

> systems (see the original specification).

It wasn't a specification at the time, only a proposal.  RFC 7946 is the only specification, not a new specification.

Both in the GeoJSON [RFC 7946](https://tools.ietf.org/html/rfc7946) and in the [GeoSPARQL 1.1 spec on the geoJSON literal](https://opengeospatial.github.io/ogc-geosparql/geosparql11/spec.html#geo:geoJSONLiteral) the fact that CRS specification is not supported in geoJSON is clearly stated. Also, in my opinion, this fact has become well-known in the community over the years. 

Since the `gsp:geoJSONLiteral` from GeoSPARQL 1.1 has been adopted already in GeoDCAT-AP 2.0.0, I would say that if a user wants to specify a CRS, they simply need to choose another geometry serialization like WKT or GML. I would therefore not include any additional means of specifying a CRS for geoJSON in GeoDCAT-AP 2.0.0.

I propose to resolve this issue either by
1. closing it with no action
2. adding a simple note saying "Note that geoJSON literals [do not support specification of the CRS used](https://opengeospatial.github.io/ogc-geosparql/geosparql11/spec.html#geo:geoJSONLiteral). [[GeoSPARQL11]](https://opengeospatial.github.io/ogc-geosparql/geosparql11/spec.html)".

@andrea-perego what is your preference?

Perhaps [OGC Features and Geometries JSON](https://github.com/opengeospatial/OGC-feat-geo-json) could be suggested assuming it becomes an adopted standard

@nmtoken Thank you for pointing out this initiative. Indeed, that could be also suggested, but in that case, we would also need to provide guidance on how to represent a FG-JSON literal in RDF, basically repeating what is described in #4 for GeoJSON before its adoption in GeoSPARQL - I would like to avoid that.
A related discussion is actually currently being held in https://github.com/opengeospatial/ogc-geosparql/issues/249.

Until that disucssion is resolved, and a resolution included in a furture GeoSPARQL release, all we can do in GeoDCAT-AP is to point to that discussion in the note.

Resolution: No need to explicitly mention the lack of support for CRS in GeoJSON.